<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../dist/css/style.css" />
		<script src="../dist/js/all.js"></script>
		<title>Document</title>
	</head>
	<body class="about">
		<header class="header">
			<div class="header__logo">
				<a href="./home.html" class="header__a"><img src="../img/icons/logo.svg" alt="" class="header__svg" /></a>
			</div>
			<nav class="header__nav">
				<ul class="header__ul">
					<li class="header__li">
						<a href="./works.html">WORKS</a>
					</li>
					<li class="header__li">
						<a href="./about.html">ABOUT</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section class="projects">
				<div class="projects__title container">
					<h2 class="title">about us</h2>
				</div>
				<div class="projects__list">
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #060606">
							<p class="project-card__tag">graphic & ux/ui designer</p>
							<h3 class="project-card__title">mercedes márquez</h3>
						</div>
						<div class="project-card__img">
							<img src="../img/template/about/persona-1.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #060606">
							<p class="project-card__tag">graphic & ux/ui designer</p>
							<h3 class="project-card__title">marta cerezo</h3>
						</div>
						<div class="project-card__img">
							<img src="../img/template/about/persona-2.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #060606">
							<p class="project-card__tag">graphic & ux/ui designer</p>
							<h3 class="project-card__title">Asier Goñi</h3>
						</div>
						<div class="project-card__img">
							<img src="../img/template/about/persona-3.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #060606">
							<p class="project-card__tag">graphic & ux/ui designer</p>
                            <h3 class="project-card__title">Asier Goñi</h3>
						</div>
						<div class="project-card__img">
							<img src="../img/template/about/persona-4.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #060606">
                            <p class="project-card__tag">graphic & ux/ui designer</p>
							<h3 class="project-card__title">Mia Yehorova</h3>

						</div>
						<div class="project-card__img">
							<img src="../img/template/about/persona-5.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #060606">
							<p class="project-card__tag">BRANDING</p>
							<h3 class="project-card__title">LA ALMAZARA</h3>
						</div>
						<div class="project-card__img">
							<img src="../img/template/about/persona-6.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #060606">
							<p class="project-card__tag">BRANDING</p>
							<h3 class="project-card__title">LA ALMAZARA</h3>
						</div>
						<div class="project-card__img">
							<img src="../img/template/about/persona-7.png" alt="" />
						</div>
					</article>
				</div>
			</section>
		</main>
		<footer class="footer">
			<nav class="footer__nav">
				<ul class="footer__ul">
					<li class="footer__li">
						<a href="#">Contact us</a>
						<div>© 2023 AMENTUM</div>
					</li>
					<li class="footer__li">
						<a href="#">Suscribe to 
							Newsletter</a>
					</li>
					<li class="footer__li">
						<a href="#">Behance</a>
					</li>
					<li class="footer__li">
						<a href="#">© 2022 AMENTUM</a>
					</li>
				</ul>
			</nav>
		</footer>
	</body>
</html>
