<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../dist/css/style.css" />
		<script src="../dist/js/all.js"></script>
		<title>Document</title>
	</head>
	<body class="works">
		<header class="header">
			<div class="header__logo">
				<a href="./home.html" class="header__a"><img src="../img/icons/logo.svg" alt="" class="header__svg"></a>
			</div>
			<nav class="header__nav">
				<ul class="header__ul">
					<li class="header__li">
						<a href="./works.html">WORKS</a>
					</li>
					<li class="header__li">
						<a href="./about.html">ABOUT</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>

			<section class="projects">
				<div class="projects__list">
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #0A503D">
							<p class="project-card__tag">BRANDING</p>
							<h3 class="project-card__title">LA ALMAZARA</h3>
							<a href="./work.html" class="project-card__a"><span>See more</span></a>
						</div>
						<div class="project-card__img">
							<img src="../img/template/home/proyecto-1.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #EB4770">
							<p class="project-card__tag">BRANDING</p>
							<h3>LA ALMAZARA</h3>
							<a href="./work.html" class="project-card__a"><span>See more</span></a>
						</div>
						<div class="project-card__img">
							<img src="../img/template/home/proyecto-2.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #F77D3D">
							<p class="project-card__tag">BRANDING</p>
							<h3>LA ALMAZARA</h3>
							<a href="./work.html" class="project-card__a"><span>See more</span></a>
						</div>
						<div class="project-card__img">
							<img src="../img/template/home/proyecto-3.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #006271">
							<p class="project-card__tag">BRANDING</p>
							<h3>LA ALMAZARA</h3>
							<a href="./work.html" class="project-card__a"><span>See more</span></a>
						</div>
						<div class="project-card__img">
							<img src="../img/template/home/proyecto-4.png" alt="" />
						</div>
					</article>
                    <article class="project-card">
						<div class="project-card__body" style="--color-prod: #BAB1DC">
							<p class="project-card__tag">BRANDING</p>
							<h3>LA ALMAZARA</h3>
							<a href="./work.html" class="project-card__a"><span>See more</span></a>
						</div>
						<div class="project-card__img">
							<img src="../img/template/home/proyecto-2.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #AC7053">
							<p class="project-card__tag">BRANDING</p>
							<h3>LA ALMAZARA</h3>
							<a href="./work.html" class="project-card__a"><span>See more</span></a>
						</div>
						<div class="project-card__img">
							<img src="../img/template/home/proyecto-3.png" alt="" />
						</div>
					</article>
					<article class="project-card">
						<div class="project-card__body" style="--color-prod: #333">
							<p class="project-card__tag">BRANDING</p>
							<h3>LA ALMAZARA</h3>
							<a href="./work.html" class="project-card__a"><span>See more</span></a>
						</div>
						<div class="project-card__img">
							<img src="../img/template/home/proyecto-4.png" alt="" />
						</div>
					</article>
				</div>
			</section>
		</main>
		<footer class="footer">
			<nav class="footer__nav">
				<ul class="footer__ul">
					<li class="footer__li">
						<a href="#">© 2022 AMENTUM</a>
					</li>
					<li class="footer__li">
						<ul>
							<li>
								<a href="#">Suscribe to Newsletter</a>
							</li>
							
						</ul>
					</li>
					<li class="footer__li news">
						<ul>
							<li>
								<a href="#">Instagram,</a>
							</li>
							<li>
								<a href="#">Behance</a>
							</li>
						</ul>
					</li>
					<li class="footer__li legal">
						<ul>
							<li>
								<a href="#">Terms and conditions,</a>
							</li>
							<li>
								<a href="#">Cookies</a>
							</li>
							<li>
								<a href="#">Privacy policy,</a>
							</li>
							<li>
								<a href="#">Legal notice</a>
							</li>

						</ul>
					</li>
				</ul>
			</nav>
		</footer>
	</body>
</html>
